@import "../../settings.scss";

.section__team {
  background-color: $background;
  .container__team {
    width: 100%;
    .switch {
      display: block;
      width: 100px;
      margin: 0 auto;
      cursor: pointer;
      z-index: 4;
      position: relative;
      svg {
        width: 18px;
        margin: 0 auto;
        display: block;
        fill: $primary-color;
      }
      span {
        display: block;
        margin: 0 auto;
        text-align: center;
        color: #403c3c;
        font-size: 0.625rem;
        font-weight: bold;
        letter-spacing: 0.0225rem;
        line-height: 0.6875rem;
      }
    }
    .block {
      .slider__team {
        z-index: 2;
        padding: 50px 0px;
        .slick-arrow {
          width: 20px;
          position: absolute;
          bottom: 50px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            opacity: 0.6;
          }
        }
        .slick-list {
          width: 100%;
          max-width: 370px;
          margin: 0 auto;
        }
        .slick-slide {
          width: 30%;
          transform: scale(0.8);
          transition: all 0.3s ease-in-out;
        }

        .slick-list .slick-track {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
        }

        .member {
          //    max-width: 343px;
          .member__pic {
            display: block;
            width: 100%;
            height: auto;
            opacity: 0.25;
          }
          .member__fullname,
          .member__jobposition {
            opacity: 0;
            text-align: center;
            color: $background;
          }
          .member__fullname {
            font-style: italic;
            margin-top: 20px;
          }
        }
        .slick-active {
          transform: scale(1);
          .member {
            .member__pic {
              opacity: 1;
            }
            .member__fullname {
              opacity: 1;
            }
            .member__jobposition {
              opacity: 0.7;
            }
          }
        }
      }
      .nav-slide {
        width: 92%;
        max-width: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        z-index: 2;
        .button {
          height: auto;
          background-color: transparent;
          outline: none;
          border: none;
          cursor: pointer;
          svg {
            display: block;
            width: 20px;
            height: 100%;
            align-self: center;
            fill: $background;
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            svg {
              fill: $primary-color;
            }
          }
        }

        @media (min-width: $lg) {
          position: absolute;
          bottom: 14%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .block__left {
      background-color: $black-color1;
      padding: 100px 0px;
    }
    @media (min-width: $lg) {
      padding: 0px;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100vh;
      .block {
        width: 50%;
        height: 100vh;
      }
      .block__left {
        position: relative;
        overflow: hidden;
        .slider__team {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .block__right {
        background-color: $background;
        position: relative;
        .content__text__fixed {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  @media (min-width: $lg) {
    width: 100%;
    height: 100vh;
  }
}
