@import "../../settings.scss";
@import "../../grid.scss";

.section__singleJob {

  display: block !important;

  @media (min-width: $lg) {
    display: grid !important;
    grid-template-columns: [full-start] minmax(30px, 1fr) [center-start] repeat(12,[col-start] minmax(20px, 100px) [col-end]) [center-end] minmax(30px, 1fr) [full-end];
    grid-template-rows: [header-start] 100px [header-end] minmax(100px, auto) [footer-start] 268px [footer-end];
    height: 100vh;
  }

  .grid__content--job {
        padding: 20px;

          @media (min-width: $lg) {
    grid-column: 8/13;
    grid-row: header-start/bottom-end;
    overflow: hidden;
    align-self: center;
    height:100%;
      }
  }

  .cover--job {
    grid-row: header-start/bottom-end;
    grid-column: full-start/7;
    position: relative;
    z-index: -1;
  }

  .cover__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


      .article__scroll {
        overflow-y: scroll;
        box-sizing: content-box;
        width: 100%;
        height: 100%;
        padding-right: 25px;

      }

      /*START: center text in scroll area*/
                @media (min-width: $lg) {
      .article__scroll:before {
          margin-top:50%;
          content:"";
          display:block;
          background-color:red;
          position: relative;
          width: 0;
          height: 0;

      }

      .article__scroll:after {
          margin-top:100%;
          content:"";
          display:block;
          background-color:red;
          position: relative;
          width: 0;
          height: 0;
      }

}
      /*END: center text in scroll area*/


      .article__scroll--width-auto{
            width: auto;
      }

      .article__main-title {
        margin-top: 200px;
      }

      .article__content {
        padding-top:20px !important;
        @media (min-width: $lg) {
        }
      }

      .article__content img,
      .article__content p {
        margin-top: 20px;
      }

      .article__content h2,
      .article__content h3,
      .article__content h4,
        .article__content h5,
          .article__content h6
      {
        margin-top: 30px;
      }

      .article__title {
        margin-top: 30px;
      }

      .article__content--jobs{
        width: 80%; padding-top:200px;
      }
      .article__wrapper {
        max-width: 700px;
        margin: 0 auto;
      }

      .js-article::after{
                @media (min-width: $lg) {
          position: fixed;
          bottom:0;
          content:"";
          width:100%;
          // max-width:600px;
          height:30%;
          display: block;
         background-image: linear-gradient(to bottom, transparent, #ffffff);
          z-index: 1;

      }}



      .scrollLeft{
              background-color:black;
              padding:20px 40px;

                @media (min-width: $lg) {
          width:75px;
          padding:0;
          height:40%;
          position: absolute;
          bottom:0;
          left:0;
        }
          }

      .scrollLeft a{
                      color: white;
                @media (min-width: $lg) {
          position: relative;
          left:-75px;

          display: inline-block;
          margin:0 auto;
          white-space: nowrap;
          transform-origin: bottom right;
          transform: rotate(-90deg);
        }
          }

}
