@import "../../settings.scss";

.grid--video {
  grid-row: 1/-1;
  grid-column: 1/-1;
  height: 100vh;
  background-color: black;
  .container__video {
    padding: 56.25% 0 0 0;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: $black-color;
    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: black;
    }
  }

  .btn__close {
    width: 41px;
    height: 41px;
    border-radius: 43px;
    border: 2px solid $black-color;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    filter: invert(1);
    svg {
      display: block;
      width: 48%;
      height: 48%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center center;
      transition: all 0.3s ease-in-out;
      fill: $black-color;
    }
    @media (min-width: 956px) {
      position: fixed;
      top: 50%;
      left: 26px;
      transform: translateY(-50%);
    }
    &:hover {
      svg {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }
}
